# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=changeme
DATABASE_NAME=homebranch

# CORS
CORS_ORIGIN=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=changeme

# Uploads
UPLOADS_DIRECTORY=uploads

# Storage
STORAGE_LOCATION=local # or r2

# App
APP_URL=http://localhost:3000

# R2 Storage (if STORAGE_LOCATION is r2)
# R2_BUCKET=
# R2_ACCOUNT_ID=
# R2_ACCESS_KEY_ID=
# R2_SECRET_ACCESS_KEY=
